@import url("components/avatar.css");
@import url("components/tabs.css");
@import url("components/profile_header.css");
@import url("components/list.css");

body {
  margin: 0;
  font-family: Open-sans, sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.container {
  max-width: 900px;
  margin: 30px auto 0 auto;
  flex: 1 1 auto;
}
.list-inline li {
  display: inline-block;
}
.list-inline {
  list-style: none;
}

.profile-header-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://picsum.photos/1000/500');
  }
