/* We just give you the arrow CSS code */
.product {
  display: flex;
  align-items: center;
  height: 150px;
  color: grey;
  transition: all 0.3s;
}

/* VOTES */
.product-votes {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: lighter;
  font-size: 14px;
  line-height: 20px;
}

.product-votes p {
  margin-top: 8px;
}

.product-arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
  transition: all 0.15s ease;
}

/* IMAGE */
.product-image {
  border-radius: 10px;
  opacity: 0.7;
  margin-right: 10px;
  width: 150px;
}

/* BODY */
.product-body {
  flex-grow: 1;
  margin-right: 10px;
}

.product-body h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 0;
}

.product-body p {
  margin-top: 8px;
  font-size: 14px;
}

/* LINKS */
.product-links a {
  color: #7A5B75;
  margin-right: 20px;
  opacity: 0.7;
}


.list-inline {
  display: inline-block;
}

/* HOVERS */
.product:hover {
  cursor: wait;
  background-color: rgba(0,0,0,0.05);
}

.product-votes:hover .product-arrow {
    border-bottom: 9px solid #87618E;
}

.product-votes:hover {
  color: #87618E;
  cursor: pointer;
}

.product-links a:hover{
  opacity: 1;
}

.product:hover .product-votes {
  transform: scale(1.3);
}
