.profile-header-infos {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  padding-left: 30px;
}


.profile-header-infos h2 {
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 25px;

}

.profile-header-user {
  flex-grow: 1;
  text-align: left;
  padding-left: 30px;
}
